{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Loggin test for sentry-symfony</span></h1>
            </div>

            <div id="status">
                Can you see a deprecated message in the debug toolbar ?
            </div>

            <a class="btn" href="{{ path("homepage") }}">Back</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a,a:hover { text-decoration: none; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
        }
        a.btn{ background-color: #759E1A; border-radius: 5px; padding: 10px; font-size: 12px;}
    </style>
{% endblock %}