{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1><span>Loggin test for sentry-symfony</span></h1>
    </div>

    <div id="status">
        {{ message }}
    </div>
{% endblock %}
